.tabs {
    
    background-color: var(--bg-color);
    
    height: 850px;
    width: 980px;
    display: flex;
    justify-content: space-between;
    
    


}


.tab .tabs__button {
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: yellow;
    font-size: 10px;
    height: 40px;
    width: 200px;
    border-radius: 35px;
    border: none;
}
.tab img{
    height: 200px;
    width: 309px;
    padding: 6px;
}
.tabs .tab {
    display: block;
    /* margin: 50px; */
    margin: auto;
    height: 586px; ;
    width: 370px;;
    background-color: white;
    text-align: center;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
}
.tab  h2,h3{
padding: 20px;
}
 @media (max-width:500px) {
    .tabs{
        flex-direction: column;

        justify-content: center;
    }
    
}
@media (min-width:980px) {
    .tabs{
        flex-direction: row;

        
    }
    
}