* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}


:root {
    --bg-color #655757;
    --text-btn-yellow: #FFFF00;
    --taxt-btn-blue: #0000FF;
}
.container{
    width: 980px;
}


.title{

}