.items_text {
    padding: 0px 24px;
    display: block;
}

.experience-section__content {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
    padding: 0px 24px;
}
@media (min-width: 600px) {
    .experience-section__content {
      display: flex;
      justify-content: space-between;
    }
  }

.section__content-cards {
    display: block;
    margin: auto;
    margin-top: 15px;
    max-width: 1320px;
    background-color: white;
    text-align: center;
   
}

.experience-section__heading {
    text-align: center;
    font-size: 40px;
    font-family: Barlow Condensed;
} 

.dark_cards {
    background-color: rgb(2, 2, 4);
    border-radius: 10px;
    padding: 24px;
}

.light_cards {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 24px;
}
 .car-year {
    font-size: 90px;
    font-family: Barlow Condensed;
 }

#car-year-2010 {
    color: rgb(255, 255, 255);
}

#car-year-2012 {
    color: rgb(34, 34, 34);
}

#car-year-2015 {
    color: rgb(255, 255, 255);
}

#car-year-2019 {
    color: rgb(34, 34, 34);
}

.car-year-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
 
}

.car__img {
    object-fit: cover;
    height: 100%;
}

.inner_text {
    text-align: center;
    font-size: 17px;
    font-family: Ubuntu;
    color: var(--items_text-color);
}