.experience-section__content {
    
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0px auto;
}
@media (min-width: 600px) {
    .experience-section__content {
      display: flex;
      justify-content: space-between;
    }
  }

.section__content-cards {
    display: block;
    margin: auto;
    margin-top: 15px;
    max-width: 1320px;
    background-color: white;
    text-align: center;
    border: none;
}

.experience-section__heading {
    text-align: center;
    font-size: 40px;
    font-family: Barlow Condensed;
} 

.dark_cards {
    background-color: rgb(2, 2, 4);
}

.light_cards {
    background-color: rgb(255, 255, 255);
}
 .car-year {
    font-size: 90px;
    font-family: Barlow Condensed;
 }

#car-year-2010 {
    color: rgb(255, 255, 255);
}

#car-year-2012 {
    color: rgb(34, 34, 34);
}

#car-year-2015 {
    color: rgb(255, 255, 255);
}

#car-year-2019 {
    color: rgb(34, 34, 34);
}
