 footer {
     background: #222222;
 }

 .footer__menu {
     display: flex;
     width: 900px;
     height: 80px;
     margin: auto;



 }

 img {
     width: 100px;
 }

 .menu__links {
     padding: 10px 70px;
     display: flex;
     list-style-type: none;
     justify-content: space-between;
     margin: auto;
     border-bottom: 1px solid #ffffff;
 }

 .menu__links .menu_link {
     color: #ffffff;
     padding: 20px;
     text-decoration: none;
 }


 @media (max-width:500px) {
    img{
        display: none;
    }
    .container{
        display: flex;
        justify-content: center;
        margin: auto;
    }
     .menu__links {
         display: flex;
         justify-content: center;
         flex-direction: column;
         margin: auto;
         text-align: center;
         align-items: center;
         flex: 1;


     }

 }

 /* @media (max-width:980px) {
    .tabs{
        flex-direction: row;

        
    } */