 footer{
    background: #222222;
 }
 .footer__menu {
     display: flex;
     width: 900px;
     height: 80px;
     margin: auto;
   
     background: #222222;

 }

 img {
     width: 100px;
 }

 .menu_links {
     padding: 10px 70px;
     display: flex;
     list-style-type: none;
     justify-content: space-between;
     margin: auto;
     border-bottom: 1px solid #ffffff;
 }
 .menu .menu_link{
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
 }



    

    


 