.offices__banner {
    background-color: var(--offices-color);
    min-height: 400px;
    padding-top: 110px;
    padding-bottom: 120px;
}

.offices__text {
    text-align: center;
    color: var(--main-color);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 52px;     
}

.text__offices {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    color: var(--offices-text-color);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-bottom: 90px;
}

.offices__image {
    width: 300px;
    padding: 10px;
    cursor: pointer; 
}

.offices__image:hover {
    opacity: 0.5;
}

.offices__image img {
    border-radius: 7px;
}

.container__image {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container__image .offices__image {
    width: 500px;
    display: block;

} 
@media (min-width: 320px) {
    .container__image {
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .container__image {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
} 

/* #carousel-offices {
    margin: auto;
    width: 500px;
} */


