.offices__banner {
    background-image: url(../img/offices-sections/background-offices.jpg);
    min-height: 400px;
    padding-top:90px;
    padding-bottom: 90px;
}



.offices__text {
    text-align: center;
    color: var(--main-color);
    font-family: 'Barlow Condensed', sans-serif;
}

.text__offices {
    color: rgba(255,255,255, 0.67);
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    ;
}


