.offices__banner {
    background-image: url(../img/offices-sections/background-offices.jpg);
    min-height: 400px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.offices__text {
    text-align: center;
    color: var(--main-color);
    font-family: 'Barlow Condensed', sans-serif;
}

.text__offices {
    color: rgba(255, 255, 255, 0.67);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    ;
}

.offices__image {
    width: 349px;
    height: 238.188px;
    padding: 10px;
    border-radius: 10px;
}

.container__image {
    display: flex;
    justify-content: center;
}

@media (min-width: 425px) {
    .container__image {
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
    }

}

@media (min-width: 1024px) {
    .container__image {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }


}