.tabs {
    box-sizing: border-box;
    height: 500px;
    display: flex;
    justify-content: center;

}

.tab .tabs__button {
    box-sizing: border-box;
    display: block;
    margin: auto;
    
    background-color: yellow;
    font-size: 10px;
    height: 40px;
    width: 200px;
    border-radius: 35px;
    border: none;



}

.tabs .tab {
    display: block;
    margin: 50px;
    
    background-color: white;
    
   


}